// 全局class
// @font-face {
//   font-weight: normal;
//   font-family: 'Bai Jamjuree';
//   font-style: normal;
//   src: url('/fonts/BaiJamjuree-Medium.ttf') format('truetype');
//   font-display: block;
// }
// @font-face {
//   font-weight: normal;
//   font-family: 'Bai Jamjuree SemiBold';
//   font-style: normal;
//   src: url('/fonts/BaiJamjuree-SemiBold.ttf') format('truetype');
//   font-display: block;
// }

html {
  height: 100%;
}
body {
  height: 100%;
}
#__next {
  height: 100%;
}

.swiperView {
  height: 100vh;

  .swiper-wrapper {
    transform: translateX(0) !important;
  }
}
.fourBox::-webkit-scrollbar {
  display: none;
}
/*从上到下*/

.fadeInUp {
  animation: fadeInUp 5s;
  -webkit-animation: fadeInUp 5s;
}
@keyframes fadeInUp
{
    from {
        opacity: 0;
        -webkit-transform: translate(-300px,0); 
        transform: translate(-300px,0);
    }
    to {
        opacity:1;
        -webkit-transform: translate(0px,0); 
        transform: translate(0px,0); 
    }
}
 
@-webkit-keyframes fadeInUp 
{
    from {
        opacity:0;
        -webkit-transform: translate(-300px,0);
        transform: translate(-300px,0);
    }
    to {
        opacity:1;
        -webkit-transform: translate(0px,0); 
        transform: translate(0px,0); 
    }
}

// 单行文本溢出
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 清浮动
.clearfix {
  *zoom: 1;

  &::before,
  &::after {
    display: table;
    clear: both;
    content: ' ';
  }

  &::after {
    display: block;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }
}
