// 全局class
@font-face {
  font-weight: normal;
  font-family: 'Aoboshi One';
  font-style: normal;
  src: url('/fonts/AoboshiOne-Regular.ttf') format('truetype');
  font-display: swap;
}
@font-face {
  font-weight: 900;
  font-family: 'DT Getai Grotesk Display';
  font-style: normal;
  src: url('/fonts/dtgetaigroteskdisplay-black.ttf') format('truetype');
  font-display: block;
}

html {
  height: 100%;
}
body {
  height: 100%;
}
#__next {
  height: 100%;
}
#OuterSwiper {
  & > .swiper-wrapper {
    transform: translateX(0) !important;
  }
}
.swiperView {
  height: 100vh;
}

.innerSwiper {
  width: 100%;
  height: 100%;
  margin-left: 0;

  .swiper-slide {
    width: 1286px;
    margin: 0 auto 0;
  }
}
.fourBox::-webkit-scrollbar {
  display: none;
}

/* 从上到下 */

.fadeInUp {
  -webkit-animation: fadeinup 1000ms;
  animation: fadeInUp 1000ms;
}
.fadeInUp2000 {
  -webkit-animation: fadeinup 2000ms;
  animation: fadeInUp 2000ms;
}
@keyframes fadeInUp {
  from {
    -webkit-transform: translate(0, 100px);
    transform: translate(0, 100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    -webkit-transform: translate(0, 100px);
    transform: translate(0, 100px);
    opacity: 0;
  }
  to {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
  }
}

// 单行文本溢出
.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

// 清浮动
.clearfix {
  *zoom: 1;

  &::before,
  &::after {
    display: table;
    clear: both;
    content: ' ';
  }

  &::after {
    display: block;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }
}
